@import '../../../scss/elements';

.sortButtons {
    align-items: center;
    display: flex;

    button {
        @extend %input;
        margin-left: 8px;
        transition: border-color .4s ease-in-out;

        &:hover {
            border-color: lighten($primary, 10%);
        }

        &.active {
            background: $light;
            color: $primaryDark;
            pointer-events: none;
        }
    }
}