@import '../../../scss/elements';

.sortButtons {
    align-items: center;
    display: flex;

    button {
        @extend %input;
        font-size: 14px;
        margin-left: 8px;
        transition: border-color .4s ease-in-out;

        &:hover {
            border-color: lighten($primary, 10%);
        }

        &.active {
            background: $light;
            color: $primaryDark;
            pointer-events: none;
        }
    }
}

@media (max-width: $mobile) {
    .sortButtons {
        margin-top: 16px;
        margin-right: 32px;
    }
}

@media (max-width: $mobile-xs) {
    .sortButtons {
        margin-right: 0;
    }
}