@import '../../scss/variables';

.listControls {
    color: $light;
    display: flex;
    font-weight: $sans-bold;
    justify-content: space-between;
    margin: 32px 0;

    &[data-isdisabled='true'] {
        opacity: .5;
        pointer-events: none;
    }
}

@media (max-width: $mobile) {
    .listControls {
        flex-wrap: wrap;
    }
}