@import 'reset-css';
@import './variables';

button {
    cursor: pointer;
}

%input {
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 4px;
    color: $light;
    padding: 0 8px;
}