%heading {
    font-size: 38px;
    line-height: 42px;
}

%subheading {
    font-size: 18px;
    font-weight: $sans-bold;
    line-height: 24px;
    text-transform: uppercase;
}

html {
    font-family: $sans-serif;
}

a {
    color: $accent;
    transition: color .4s ease-in-out;

    &:hover {
        color: $accentDark;
    }
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $light;
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: $sans-bold;
}